body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:  #FFFFFF; 
}
h3,p{
    margin: 0;

}
a {
    text-decoration: none;
    }
    img{
        display: block;
    }
ul,ol {
    list-style: none;
    padding: 0;
    margin: 0;
    }
 

/*хедер*/
    .section-zero{
        border-bottom: 1px solid #e7e9fc;
        box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navigations{
        display: flex;
        align-items: center;
    }
    .container{
        max-width: 320px;
        padding: 0 16px;
        margin: 0 auto;
    }

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #404bbf;
 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
    padding: 17px 0;
}

.studio{
color: #2e2f42;
}
.site-nav{
    display: none;
    
}
.site-nav li{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;    
}
.site-nav li:hover{
    color: #404bbf;
}
.site-nav li:focus{
    color: #404bbf;
}
.first{
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}
.first-f{
position: relative;
color:  #404bbf;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-f::after{
content: "";
position: absolute;
left: 0;
bottom: -1px;
display: block;
width: 100%;
height:4px;
background-color:#404bbf;
border-radius: 2px;
}


.first:hover{
    color: #404bbf;
}
.first:focus{
    color:#404bbf;
}
.address-nav{
    display: none;
    gap: 40px;
}
.adress{
    font-style: normal;
    
    margin-left: auto;

}
.adress:hover{
    color:  #404bbf;
}
.adress:focus{
    color:  #404bbf;
}
.adress-first{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-first:hover{
    color: #404bbf;
}
.adress-first:focus{
    color: #404bbf;
}
.open-menu-btn{
    padding: 0;
    line-height: 0;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    
}
/*первая секция*/
.section-first{
    background-color: #2e2f42; 
    background-image:linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ), url(../images/hero-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 1440px;
    padding: 72px 0;

}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
	screen and (min-resolution: 192dpi) and (max-width: 767px),
	screen and (min-resolution: 2dppx) and (max-width: 767px) {
	.section-first {
		background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/hero-mob-2x.jpg);
	}
}
.h-one{
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
 margin: auto;
    margin-bottom: 72px;
    max-width: 216px;
}

.button{
    background-color: #4D5AE5 ;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
}
.button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4d5ae5;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}
.button:hover{
    background-color:  #404BBF;
}
.button:focus{
    background-color: #404BBF;
}
/*вторая секция*/
.section-second{
    padding: 96px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.list{
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.fff{
    display: none;
 

}
.hover-three{
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color:  #2e2f42;
    margin-bottom: 8px;
}

.paragraph-one{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
} 
/*третья секция*/
.section-third{
    background-color: #F4F4FD;
    padding:120px 0;
    margin: 0 auto;
}
.our-team{
    margin-bottom: 72px;
}
.team{
    display: flex;
    align-items: center;
    gap: 72px;
    flex-direction: column;
}
.list-one{
    border-radius: 0px 0px 4px 4px; 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.div-list{
    padding: 32px 0;
}
.hover-team{
    text-align: center; 
    margin-bottom: 8px;
}
.paragraph-team{
    text-align: center;
}
.our-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.list-one{
    background-color: #FFFFFF;
}

.hover-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.paragraph-team{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.lll{
    width: 40px;
    height: 40px;
    
}
.alll{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.alll:hover{
    background-color: #404bbf;
}
.alll:focus{
    background-color: #404bbf;
}
.ssvg{
    fill: #f4f4fd;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*четвертая секция*/
.section-fourth{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-direction: column;
    
}
.our-features{
    margin-bottom: 72px;
}

.qwe:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
.rty{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.our-features{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.hover-apps{
    margin-bottom: 8px
}
.hover-apps{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.p-apps{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.trans {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.trans-p{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
}   
.trans:hover .trans-p{
    transform: translateY(0%);
}
/*футер*/
   

.section-six{
    background-color: #2e2f42;
    padding: 96px 0;
}

.p-six{
    max-width: 264px
}
.web-two{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5 ;
   display: block;
    margin-bottom: 16px;
    text-align: center;
}
.text-two{
    color: #f4f4fd;
}
.p-six{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.fot-f{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;

}


.sm-text{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 16px;
    text-align: center;
}
.links-two{
    display: flex;
    gap: 16px;
}
.zzz{
    width: 40px;
    height: 40px;
    
}
.link-f{
    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-f:hover{
    background-color: #31d0aa;
}
.link-f:focus{
    background-color: #31d0aa;
}
.svg-f{
    fill: #f4f4fd ;
}
.sub-p{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}
.form-f{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
}

.input-f{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.but-class{
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    height: 40px;
}
.svg-g{
    margin-left: 16px;
    fill: #f4f4fd ;
}
/*Модальное окно*/
.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility:hidden;
    pointer-events: none;
}
.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
   }

.modal-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.mbtn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.mbtn-svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mbtn:hover{
    background-color: #404bbf;
    fill: #ffffff;
    border: none;
}
.mbtn:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.modal-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}
.form-d{
    margin-bottom: 8px;
}
.label-d{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;

}
.svg-modal{
    position: relative;
}
.input-c{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-c:focus+.svg-input{
    fill: #4D5AE5;
    
}
.input-c:focus{
    border-color: #4D5AE5;
}
.svg-input{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%) ;
    transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-m{
    margin-bottom: 16px;
}
.form-comment{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    outline: transparent;
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-comment:focus{
    border-color: #4D5AE5;
}
.check{
    margin-bottom: 24px;
}
.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.privacy{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    padding: 10px;
}
.privacy-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}
.privacy-span:checked{
    background-color: #404bbf;
    border: none;
    fill:  #F4F4FD;
}
.input-aa{
    color: #4d5ae5;
}
.form-button{
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-privacy:checked+label>span{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}





/*Медиа*/

 
